<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="images/x-icon" href="/minilogo.png" />
    <!-- Bootstrap CSS -->
    <title>Form</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
    style="border-bottom: 1mm ridge rgba(116, 116, 116, 0.6);">
    <div class="container-fluid">
        <img src="/logo.png" style="width: 8%; margin-top: 7px;" class="avatar" alt="user profile picture">
        <a style="letter-spacing: 2px; margin-left: 25px; font-weight: 600;" class="navbar-brand col" href="#">Attività
            Manutenzione</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
        </div>
        <p style="height: fit-content; margin: 0; color: #e5e5e5; margin-right: 20px;" class="navbar-text">
            <%= user %>
        </p>
        <a class="idLink nav-link thing" href="/auth/changePassword">Cambia password</a>
        <a class="idLink nav-link thing" style="margin-left: 4px; margin-right: 10px;" href="/auth/logout">Log out</a>
    </div>
</nav>

<body>
    <div class="container my-5" style="padding-top: 7vh;">
        <div class="card mx-auto card-table">
            <div class="card-body">
                <div class="container-fluid">
                    <h3>Ordini pendenti</h3>
                    <a href="#" id="reloadBtn" class="idLink">Aggiorna</a>
                </div>
                <% if (odl.length !=0) { %>
                    <table class="table table-hover" style="overflow: scroll;">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Descrizione</th>
                                <th scope="col">Stato</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0; i < odl.length; i++) { %>
                                <tr>
                                    <th scope="row">
                                        <a class="link-body-emphasis idLink" href="/odlInfo/<%=odl[i].ID%>">
                                            <%=odl[i].ID%>
                                        </a>
                                    </th>
                                    <td class="capitalize" id="desc<%=i%>" style="max-width: 300px;"></td>
                                    <td>
                                        <% if (odl[i].Stato==0) { %>
                                            Sconosciuto
                                            <% } else if (odl[i].Stato==10) { %>
                                                Ricevuto
                                                <% } else if (odl[i].Stato==20) { %>
                                                    In attesa di delibera
                                                    <% } else if (odl[i].Stato==30) { %>
                                                        Approvato
                                                        <% } else if (odl[i].Stato==40) { %>
                                                            In attesa di materiali
                                                            <% } else if (odl[i].Stato==50) { %>
                                                                Programmato
                                                                <% } else if (odl[i].Stato==60) { %>
                                                                    In corso...
                                                                    <% } else if (odl[i].Stato==90) { %>
                                                                        Concluso
                                                                        <% } else { %>
                                                                            Annullato
                                                                            <% } %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                    <% } else { %>
                        <h4 style="text-align: center; font-weight: 400;">Nessun ordine associato</h4>
                        <% } %>
                            <p style="text-align: center; margin-top: 20px;"><a class="idLink"
                                    href="/upload/form">Aggiungi un ordine</a></p>
            </div>
        </div>
    </div>
    <script>
        // This script is responsable for the description length int the table's column
        // In the case the text is too long, it will make a substring with less characters
        <% for(let i=0; i < odl.length; i++) { %>
            let description = document.getElementById('desc<%=i%>')
            let descriptionString = "<%=odl[i].DescrizioneLavori%>"
            if (descriptionString.length > 100)
                description.innerHTML = descriptionString.substring(0, 80) + "..."
            else
                description.innerHTML = descriptionString
        <% } %>
    </script>
</body>
<!--
                 *       +
           '                  |
       ()    .-.,="``"=.    - o -
             '=/_       \     |
          *   |  '=._    |
               \     `=./`,        '
            .   '=.__.=' `='      *
   +                         +
        O      *        '       .
-->

</html>